body {
  background-color: powderblue;
  padding: 20px;
}
h4 {
  color: white;
}

h1, label, table {
  padding: 15px;
}

.dayStrip {
  display: flex;
}

.date {
  width: 75px;
  height: 50px;
  margin: 0;
  text-align: center;
}

.checkmark {
  width: 50px;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  width: auto;
  height: 50px;
  align-items: center;
}

.dailyLog {
  height: 150px;
  overflow-y: scroll;
}